<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gesture</title>

  <link href="static/style_intro.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <center><h3 class="animate-charcter"> A GESTURE BASED TOOL FOR STERILE BROWSING OF RADIOLOGY IMAGES</h3></center>
    </div>
  </div>
    <br/>
    <br/>
</div>
  <center><div class='para'>
    <p>Computer information technology is increasingly penetrating into the hospital domain. A major challenge involved in this process is to provide doctors with efficient, intuitive, accurate and safe means of interaction without affecting the quality of their work. Keyboards and pointing devices, such as a mouse, are today's principal method of human—computer interaction. However, the use of computer keyboards and mice by doctors and nurses in intensive care units (ICUs) is a common method for spreading infections. Even though voice control also provides sterility, the noise level in the operating room (OR) deems it problematic. Our system makes use of hand gestures as an alternative to existing interface techniques, offering the major advantage of sterility. In our work we refer to gestures as a basic form of non-verbal communication made with the hands.</p>
  </div></center>
  <div class="col-md-offset-3 col-md-5" style="margin-top:50px" >
  <form action="/index" enctype="multipart/form-data"> <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Proceed" >

                </div>
            </form>

        </div>
<form action="/back" enctype="multipart/form-data"> <div class="form-group">
                    <input type="submit" class="btn2 btn-primary btn-block" value="Back">

                </div>
            </form>

</body>

</html>